@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
@import url("https://preview.tabler.io/assets/css/dashboard.css");
@import "select2/dist/css/select2.min";
@import "@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4";
@import "flatpickr/dist/flatpickr.min.css";
@import '@fullcalendar/core/main.css';
@import '@fullcalendar/daygrid/main.css';
@import 'trix/dist/trix.css';
@import 'actiontext';

$color-red: #cd201f;
$color-validation: #cd201f;
$color-green: #00887a;
$color-skin: #ffccbc;
$color-white: #ffffff;
$color-aqua: #d3e3fc;
$color-blue: #228be6;
$color-yellow: #FFCE00;
$color-blue-night: #0375b4;
$color-green-irises: #007849;
$color-black-evening: #262228;
$color-jade: #5cdb95;
$color-blue-deep: #05386b;
$color-green-smoke: #379683;
$color-green-leaf: #8ee4af;
$color-sand: #edf5e1;
$color-muted: #6c757d;
$color-gradient-green: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
$color-gradient-blue: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
$color-gradient-purple: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
$color-gradient-orange: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
$color-gradient-smoke: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
$text-gradient-green: #38f9d7;
$text-gradient-blue: #00f2fe;
$text-gradient-purple: #b721ff;
$text-gradient-orange: #ff4e50;
$text-gradient-smoke: #93a5cf;

body {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  color: $color-blue-deep;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  text-align: left;
  background-color: #f8f9fe;

  ::selection {
    color: $color-white;
    background: $color-blue;
  }

  ::-moz-selection {
    color: $color-white;
    background: $color-blue;
  }
}

[class*=shadow] {
  transition: all .15s ease;
}

.text-green {
  color: $color-green;
}

.text-skin {
  color: $color-skin;
}

.text-white {
  color: $color-white;
}

.text-aqua {
  color: $color-aqua;
}

.text-blue {
  color: $color-blue;
}

.text-yellow {
  color: $color-yellow;
}

.text-blue-night {
  color: $color-blue-night;
}

.text-green-irises {
  color: $color-green-irises;
}

.text-black-evening {
  color: $color-black-evening;
}

.text-jade {
  color: $color-jade;
}

.text-blue-deep {
  color: $color-blue-deep;
}

.text-green-smoke {
  color: $color-green-smoke;
}

.text-green-leaf {
  color: $color-green-leaf;
}

.text-sand {
  color: $color-sand;
}

.text-gradient-green {
  color: $text-gradient-green;
}

.text-gradient-blue {
  color: $text-gradient-blue;
}

.text-gradient-purple {
  color: $text-gradient-purple;
}

.text-gradient-orange {
  color: $text-gradient-orange;
}

.text-gradient-smoke {
  color: $text-gradient-smoke;
}

.bg-green {
  color: $color-white;
  background: $color-green;
}

.bg-skin {
  color: $color-black-evening;
  background: $color-skin;
}

.bg-white {
  color: $color-black-evening;
  background: $color-white;
}

.bg-aqua {
  color: $color-white;
  background: $color-aqua;
}

.bg-blue {
  color: $color-white;
  background: $color-blue;
}

.bg-yellow {
  color: $color-green-irises;
  background: $color-yellow;
}

.bg-blue-night {
  color: $color-white;
  background: $color-blue-night;
}

.bg-green-irises {
  color: $color-white;
  background: $color-green-irises;
}

.bg-black-evening {
  color: $color-white;
  background: $color-black-evening;
}

.bg-jade {
  color: $color-blue-deep;
  background: $color-jade;
}

.bg-blue-deep {
  color: $color-white;
  background: $color-blue-deep;
}

.btn.bg-blue-deep:hover {
  color: $color-aqua;
}

.bg-green-smoke {
  color: $color-green-smoke;
  background: $color-jade;
}

.bg-green-leaf {
  color: $color-green-leaf;
  background: $color-jade;
}

.bg-sand {
  color: $color-sand;
  background: $color-jade;
}

.form-group-invalid .form-label {
  color: $color-validation;
}

.nav-tabs .nav-link.active {
  color: $color-blue-deep;
  font-weight: 900;
  border-color: $color-blue-deep;
  background: transparent;
  margin-bottom: -1px;
  transition: .3s border-color;
}

.dropdown-menu-arrow {
  position: absolute;
  transform: translate3d(12px, 55px, 0px);
  top: 0;
  left: 0;
  will-change: transform;
}

.pagination {
  margin-bottom: 0;
}

span.float-right i {
  cursor: pointer;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 768px) and (max-width: 768px) {
  .col-lg-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 1024px) and (max-width: 1024px) {
  .col-lg-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.select2 {
  width: 100%;
  display: block;
}

.select2-container--bootstrap4.select2-container--focus .select2-selection {
  color: #495057;
  background-color: #fff;
  border-color: #1991eb;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
}

.select2-container--bootstrap4.select2-container--focus .select2-selection {
  color: #495057;
  background-color: #fff;
  border-color: #1991eb;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
  font-size: 0.9375rem;
  font-weight: 400;
  padding-left: .7rem;
}

.select2-container--bootstrap4 .select2-results > .select2-results__options {
  font-size: 0.9375rem;
  font-weight: 400;
}

.table td {
  padding: .55rem;
}

.input-group > .input-group-append:not(:last-child) > .btn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.btn-remove-nested {
  margin-top: 1.6rem;
}

a.card-options-collapse .badge .bg-blue-deep .text-white {
  cursor: pointer;
}

.mapboxgl-popup {
  min-width: 200px;
  font-size: 14px;
}

.card-icon {
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.card-icon .svg-inline--fa {
  font-size: 1.6rem !important;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  transform: translateY(-1px);
  font-size: .875rem;
  position: relative;
  transition: all .15s ease;
  will-change: transform;
  border: 1px solid #ddd;
  box-shadow: -2px 2px 4px #ddd;
}

.card.card-stats-green {
  min-height: 5rem;
  color: #fff;
  border: 0 transparent;
  background-image: $color-gradient-green;
}

.card.card-stats {
  min-height: 5rem;
  color: #fff;
  border: 0 transparent;
}

.card.card-stats-purple {
  min-height: 5rem;
  color: #fff;
  border: 0 transparent;
  background-image: $color-gradient-purple;
}

.card.card-stats-orange {
  min-height: 5rem;
  color: #fff;
  border: 0 transparent;
  background-image: $color-gradient-orange;
}

.card.card-stats-smoke {
  min-height: 5rem;
  color: #fff;
  border: 0 transparent;
  background-image: $color-gradient-smoke;
}

.card-options-collapse {
  border-radius: 50% !important;
}

.tab-pane.fade {
  display: block;
  visibility: hidden;
  width: 100%;
  height: 0;
}

.tab-pane.fade.active {
  width: 100%;
  height: 100%;
  display: block;
  visibility: visible;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.breadcrumb {
  font-size: 14px;
}

.badge-radius {
  border-radius: 30px;
}

@media all and (max-width: 480px) {
  .btn-sm-block {
    width: 100%;
    display: block;
  }
}

.btn-block + .btn-block {
  margin-top: 0;
}

div.fc-bg > table > tbody > tr > td, div.fc-bg > table > thead > tr > td,
.fc-content-skeleton table thead tr td, .fc-highlight-skeleton > table > tbody > tr > td.fc-highlight {
  cursor: pointer;
  font-size: 14px
}

.nav-pills .nav-link.active {
  background: $color-blue-deep;
}

.nav-pills .nav-link.active h3 {
  color: #fff !important;
}

