<div class="row">
  <div class="col-lg-8 col-sm-12">
    <%= render 'application/calendar' %>
  </div>
  <div class="col-lg-4 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>
