<div class="form-row row-cards">
  <div class="col-lg-3 col-sm-12">
    <%= render partial: 'application/dashboard_card',
               locals: {icon: 'fas fa-file-alt',
                        color: 'bg-teal-light',
                        value: Random.rand(1..10000),
                        description: HealthProfessional.model_name.human(count: 2)} %>
  </div>
  <div class="col-lg-3 col-sm-12">
    <%= render partial: 'application/dashboard_card',
               locals: {value: Random.rand(1..10000),
                        icon: 'fas fa-arrow-down',
                        color: 'bg-green-light',
                        description: ProfessionalTeam.model_name.human(count: 2)} %>
  </div>
  <div class="col-lg-3 col-sm-12">
    <%= render partial: 'application/dashboard_card',
               locals: {icon: 'fas fa-arrow-up',
                        color: 'bg-red-light',
                        value: Random.rand(1..10000),
                        description: HealthEstablishment.model_name.human(count: 2)} %>
  </div>
  <div class="col-lg-3 col-sm-12">
    <%= render partial: 'application/dashboard_card',
               locals: {icon: 'fas fa-dollar-sign',
                        color: 'bg-yellow',
                        value: Random.rand(1..10000),
                        description: Faker::App.name} %>
  </div>
  <div class="col-lg-12 col-sm-12">

  </div>
</div>
