<div id="dimmer_<%= id %>" class="dimmer">
  <div class="row my-3">
    <div id="loader_<%= id %>" class="mt-4"></div>
  </div>
  <div class="dimmer-content">
    <div id="<%= id %>"></div>
  </div>
</div>
