<div id="dimmer_<%= id %>" class="dimmer">
  <div class="row">
    <div class="col-lg-12 my-5">
      <div id="loader_<%= id %>"></div>
    </div>
  </div>
  <div class="dimmer-content">
    <div id="<%= id %>"></div>
  </div>
</div>
