<div class="card h-100 mb-3">
  <div class="card-body p-4">
    <div class="row">
      <i class="<%= icon ||= 'fas fa-cube' %> fa-2x p-4 py-auto align-middle col-4"></i>
      <div class="col-8 text-right align-content-center align-middle">
        <div class="h4 font-weight-bold"><%= description %></div>
        <div class="h3 m-0 text-muted-dark"><%= value ||= 0 %></div>
      </div>
    </div>
  </div>
</div>
