<div class="card card-dashboard h-100">
  <div class="card-body p-4">
    <div class="row">
      <div class="col-4 col-sm-12 text-sm-center">
        <i class="<%= icon ||= 'fas fa-cube' %> fa-3x p-4 py-auto align-middle"></i>
      </div>
      <div class="col-8 col-sm-12 text-right align-content-center align-middle text-sm-center">
        <div class="h4 font-weight-bold">
          <%= link_to action do %>
            <%= description %>
          <% end %>
        </div>
        <div class="h3 m-0 text-muted-dark"><%= value ||= 0 %></div>
      </div>
    </div>
  </div>
</div>
