<div class="card">
  <div class="card-body p-5">
    <div class="row">
      <div class="col-auto">
        <i class="<%= icon ||= 'fas fa-cube' %> fa-4x py-5 px-auto align-middle"></i>
      </div>
      <div class="col pl-auto text-right">
        <h3 class="font-weight-bold pt-4"><%= description %></h3>
        <div class="h2 m-0 text-muted-dark"><%= value ||= 0 %></div>
      </div>
    </div>
  </div>
</div>
