<div class="page">
  <div class="container">
    <div class="row">
      <div class="col col-login mx-auto">
        <div class="text-center mb-6">
          <%= image_tag 'logo.png', class: 'h-8', alt: 'logo' %>
        </div>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
