<nav class="header d-lg-flex p-0 collapse" id="menu">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-5 ml-auto">
        <div class="form-control font-weight-bold text-blue-deep"><%= "#{current_user.company.id.to_s.rjust(4, '0')} - #{current_user.company.legal_full_name}" %></div>
      </div>
      <div class="col-lg order-lg-first">
        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link #{'active font-weight-bold' if controller_name == 'dashboards'} py-4" do %>
              <i class="fas fa-chart-line mr-2"></i>Dashboard
            <% end %>
          </li>
          <%= render current_user.admin? ? 'menu_list_admin' : 'menu_list_user' %>
        </ul>
      </div>
    </div>
  </div>
</nav>
