<%= render 'error_messages', model: form %>
<%= render 'application/page_header', model: form %>
<div class="card">
  <div class="card-body pb-3">
    <div class="dimmer">
      <div class="dimmer-content">
        <div class="form-row">
          <%= yield :body %>
        </div>
      </div>
    </div>
  </div>
  <% unless disable_footer ||= false %>
    <div class="card-footer">
      <div class="row">
        <div class="col btn-list">
          <%= render 'application/form_buttons', f: form %>
        </div>
      </div>
    </div>
  <% end %>
</div>
